* {
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color:bisque
}

.wrap{
    background-color: beige;
    max-width: 1920px;
    margin: auto;
    min-height: 100vh;
}

.header{
    background-color: darkgray;
    text-align: center;
    padding: 20px;
}

.banner{
    background-color: darkgray;
}

.banner .container .row {
   display: flex
}

.banner-text{
    width: 100%;
    padding: 20px;
    background-color: antiquewhite;
    height: 400px;
}

.banner-background{
    width: 100%;
    padding: 20px;
    background-color: azure;
    height: 400px;
}

.content{
    background-color: darkgray;
}

.why-choose{
    background-color: aquamarine;
}

.why-choose .container .row{
    display: flex;
    flex-wrap: wrap;
}

.why-choose .container .row .col-tittle{
    padding: 20px;
}

.why-choose .row-items{
    display: flex;
    margin: 40px 0px;
    padding: 20px;
}

.why-choose .col-item{
    max-width: 300px;
    justify-content: space-around;
}

.why-choose .col-item h6{
    margin-bottom: 10px;
}

.why-choose .text-center{
    text-align: center;
    background-color: greenyellow;
    height: 200px;
}

.service{
    background-color: beige;
}

.service .container .row{
    display: flex;
}

.service .container .row .col{
    background-color:aqua;
    height: 200px;
    width: 100%;
    border: solid;
}

.founder{
    background-color: chocolate;
}

.department{
    background-color: cadetblue;
}

.blog{
    background-color: darkcyan;
}

.testimonial{
    background-color:darkkhaki;
}

.intro{
    background-color: goldenrod;
}

.contact-info{
    background-color: indigo;
}

.contact-info .container{
    padding:20px;
}

.contact-info .row{
    display: flex;
}

.contact-info .col{
    width: 100%;
    border:solid;
    height: 200px;
}

.footer{
    background-color:aquamarine;
    padding: 20px;
    text-align: center;
}